$color-primary: black;
$color-primary-light: #ebbac0;
$color-primary-dark: #E3001E;
$color-white: white;
$color-blood-red: #5c1f10;
$color-black: black;
$color-red: #ff3300b3;
$color-light-pink: #f3eeee;
$color-outline: rgb(250, 228, 228);
$card-color-back-1-dark: #f822068e;
$card-color-back-1-light: #f7b1b1ef;
$card-color-back-2-dark: #fcd80b4d;
$card-color-back-2-light: #f8edc7da;
$card-color-back-3-dark: #4cfc55;
$card-color-back-3-light: #e1f8c7;
$card-color-back-4-dark: #24f79f77;
$card-color-back-4-light: #d1f8c76b;
$card-text-color-1: #300202f1;
$card-text-color-2: #46030375;
$card-text-color-3: #46030375;
$card-color-border-back-1: rgb(128, 98, 0);
$card-color-border-back-2: rgb(0, 128, 100);       


$grid-width: 144rem;
$gutter-vertical: 5rem;
$gutter-horizontal: 6rem;

$text-font-size: 1.7rem;
$heading-font-size: 1.7rem;



