.btn {
    margin-bottom: 4rem;
    &:link, &:visited {
        padding: 2rem 4rem !important;
        text-transform: uppercase;
        text-decoration: none;
        position: relative;
        display: inline-block;
        border-radius: 2rem;
        transition: all 1s;
        font-size: $text-font-size;  
    }
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 1rem 2rem rgba(black, 0.7);

        &::after {
            transform: scaleX(1.1) scaleY(1.4);
            opacity: 0;
        }
    }
    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(black, 0.7);
    }
    &--white {
        font-weight: bold;
        font-size: 2rem;
        background-color: $color-white;
        color: $color-blood-red;

        &::after {
            background-color: $color-white;
        }
    }
    &--red {
        font-weight: bold;
        font-size: 2rem;
        background-color: $card-color-back-1-dark;   
        color: $color-white;
        
        

        &::after {
            background-color: $color-btn;         
        }
    }
    &--red-1 {
        font-weight: bold;
        font-size: 2rem;
        background-color: $color-red;   
        color: $color-white;
        padding: 1rem;
        border-radius: 10px;
        width: 20%;  
        

        &::after {
            background-color: $color-btn;         
        }
    }
    

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 2rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
       
    &--animation {
        animation-name: moveInBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-delay: 0.2s;
        animation-fill-mode: backwards;
    }
    &--card {
        margin-left: 20%;   
    }
}
.btn-text {
    &:link,
    &:visited {
        font-size: $text-font-size;
        color: $color-primary-dark;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid black;
        padding: 3px;
        transition: all .3s;
    }
    &:hover {
        background-color: $color-red;
        color: $color-white;
        box-shadow: 0 1rem 2rem rgba(black, 0.7); 
        transform:  translateY(-2px);
        
    }
    &:active {
        box-shadow: 0 .5rem 1rem rgba(black, 0.7);
        transform:  translateY(0);
    }  
}



