.text-centered-global {
    text-align: center;
}
.text-margain-bottom-big {
    margin-bottom: 8rem;
}
.text-margain-bottom-medium {
    margin-bottom: 4rem;
}
.text-margain-bottom-small {
    margin-bottom: 0.3rem;
}
