.section-about {
    background-color: $color-light-pink;
    padding: 15rem 0; 
    margin-top: -29vh; 
}
.section-features {
    padding: 20rem 0;
    background-image: linear-gradient( to right bottom, rgba($color-primary-light, 0.808), rgba($color-primary-dark, 1)), url(../imgs/minimoog.jpg);
    background-size: cover;
    transform: skewY(-6deg);
    margin-top: -10rem; 
    & > * {
        transform: skewY(6deg);
    }

}
.section-tours {
    background-color: $color-light-pink;
    padding: 15rem 5rem 15rem 0; 
    margin-top: -20vh; 
}
.section-bands {
    padding: 15rem 0;
    margin-top: -25vh;   
    padding-bottom: -20rem; 
    position: relative;
}
.section-contact {
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom, $color-light-pink, $color-primary-light);
}
.contact {
    background-size: 100%;
    background-size: 100%;
    background-image: linear-gradient( 105deg, rgba($color-light-pink, .9) 0%, rgba($color-light-pink, .9) 50%, transparent 50%), url(../imgs/minimoog.jpg);        
    background-size: 100%;
    border-radius: 8px;
    height: 60rem;
    box-shadow: 0 4rem 4rem rgba($color-primary-light, 1.0);
    &__form {
        width: 50%;
        padding: 2rem;
    }     
}